/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /RESET */

body{
  font-family: 'Fredoka', sans-serif;
  background-color: #fffffe;
}

.contenitore{
  height: 100%;
  width: 80%;
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
}

h1{
  color: #e53170;
}

.sottotitolo{
  padding-top: 3rem;
}